body{
    margin: 10px;
    font-family: 'Raleway', sans-serif;
}

h1{
    text-align: center;
    font-size: 55px;
}

/* exemplo do media query abaixo, onde ao mudar o tamanho pra uma tela de ipad muda a cor e alguns parametros do texto, conforme a preferencia */

@media screen and (max-width: 768px){
    h1{
      color:red;
      font-weight: bold;
      text-decoration: underline;
    }
}
/* fim do exemplo media query */

/* Macete para alinhar uma imagem no centro, como um bloco no centro, display block */

/* border poe espessura na linha da borda */

.margin{
display: block;
}

.banner{
    width: 30%;
    margin: auto;
    display: block;
    margin-bottom: 10px;
}

#bandeira{
  width: 30%;
}

#imagem10{
    border: 1px solid red;

.margin{
    margin: 0 5%;
}


}

section{
    text-align: justify;
}

footer{
    font-size: 10px;
    text-align: center;
}
